.content-photo{
    opacity: 80%;
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.5s ease-in-out forwards;
  
    
}
.content-photo img{
    border: 5px solid #e2dddd;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 300px;
    width: 400px;
}

.about-head{
    
    opacity:0;
    transform: translateY(20px);
    animation: fadeIn 1.5s ease-in-out forwards;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY();
    }
}
.para{
    
    opacity:0;
    transform: translateY(20px);
    animation: fadeIn 1.5s ease-in-out forwards;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY();
    }
}