.home{
    background: rgb(255, 255, 255);
    font-family:poppins ;
}
.top{
    margin-top: 40px;
    
}
.top__head h1{
   font-weight: 800;
   font-size: 2.6rem;
   color: rgb(3, 2, 59);
   opacity: 0;
   transform: translateY(20px);
   animation: fadeIn 1.5s ease-in-out forwards;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


.top__content{
    margin-top: 15px;
    
}

.top__content p{
   
    font-weight: 400;
    font-size: 1.1rem;
    color: rgb(21, 21, 52);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.5s ease-in-out forwards;   
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.middle{
    margin-bottom: 100px;
}
.middle_content_photos img{
    border: 5px solid #e2dddd;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.middle_content_description h5 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .middle_content_description a:hover {
    color: #ff6600; 
   
  }



.map{
    margin-top: 20px;
}
.button-1{
    margin-bottom: 80px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.5s ease-in-out forwards;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(30px);
        
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.content{
    margin-bottom: 10px;
}